* {
    box-sizing: border-box;
}
/*color scheme defined*/
:root {
    --primary-color: rgb(153, 51, 153) ;
    --secondary-color: rgb(153, 203, 255) ;
    --tertiary-color: rgb(0, 0, 153);
    --primary-background-color: rgba(230, 230, 255, 0.75);
    --secondary-background-color: rgba(0, 0, 102, 0.75);
}

/*body style*/
body {
    margin: 0px;
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--primary-background-color);
}

/*header style - h1 left-justified, nav items right-justified, make responsive, add hover effect*/
header {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-background-color);
}

header h1{
    color: var(--primary-color);
    font-size: 64px;
}

header nav {
    margin: 0px 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--tertiary-color);
}

header nav ul li a {
    padding: 0px 15px;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 28px;
}

header nav ul li a:hover {
    background: var(--secondary-background-color);
    color: var(--secondary-color);
    border-radius: 15px;
    line-height: 1.5;
}

/*hero style - need image - make responsive - add subtitle */
.hero {
    background-image: url("../images/hero.jpg");
    height: 250px;
    background-size: auto;
    background-position: 99%;
    display: block;
}

.hero div {
    float: right;
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 44px;
    text-align: right;
    margin-right: 25px;
}

/*About me section - include photo, style text, make responsive */
.about-me {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.about-me img {
    width: 25%;
    float: left;
    margin: 25px;
    border-radius: 15px;
}

.about-me h2 {
    color: var(--primary-color);
    font-size: 44px;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 0;
    background-color: var(--primary-background-color);
    line-height: 1.5;
}

.about-name {
    color: var(--secondary-color);
    font-size: 36px;
    padding: 15px 0;
    margin: 0;
}

.about-text {
    color: var(--secondary-color);
    font-size: 18px;
    padding: 15px 25px;
    margin: 0;
}

/* My Work section - create css grid - make responsive - first item larger than rest - other items grow or change color upon hover - add images and links to live applications - include placeholders for remaining slots - need 5-6 slots */
.my-work {
    background-color: var(--primary-background-color);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.my-work div {
    width: 100%;
}

.my-work h2 {
    color: var(--secondary-color);
    font-size: 44px;
    padding-left: 25px;
    position: relative;
    display: block;
    padding: 0 auto;  
    align-items: stretch;
    background-color:var(--secondary-background-color);
    line-height: 1.5;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0;
}

.my-work h3 {
    color: var(--primary-color);
    font-size: 24px;
}

.my-work span {
    color: var(--tertiary-color);
    font-size: 18px;
}

.work-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px, 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 75%;
    align-items: right;
    padding: 25px;
}

.work-items {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    min-height: 200px;
    border: 5px solid var(--primary-color);
    border-radius: 15px;
    text-align: center;
    padding: 0px;
    position: relative;
    justify-content: center;
}

.work-items div {
    position: absolute;
    bottom: 5px;
    background-color: var(--primary-background-color);
}

.work-items h3 {
    display: inline;
}

.work-item1 {
    background-image: url("../images/workItem1.png");
    background-position: top;
    background-size: cover;
}

.work-item2 {
    background-image: url("../images/workItem2.png");
    background-position: top;
    background-size: cover;
}

.work-item3 {
    background-image: url("../images/workItem3.png");
    background-position: top;
    background-size: cover;
}

.work-item4 {
    background-image: url("../images/workItem4.jpg");
    background-position: top;
    background-size: cover;
}

.work-item5 {
    background-image: url("../images/workItem5.jpg");
    background-position: top;
    background-size: cover;
}

.work-items:hover {
    border: 10px solid var(--tertiary-color);
    padding: 5px;
}

.work-items:first-child {
    grid-column: span 2;
    grid-row: span 4;
}

/*contact section - include phone, email, LinkedIn and GitHub links - open in separate tab - font enlarges upon hover - make responsive */
.contact {
    background-color: var(--secondary-background-color);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact div {
    width: 100%;
}

.chat {
    color: var(--primary-color);
    font-size: 44px;
    padding-left: 25px;
    position: relative;
    display: block;
    padding: 0 auto;  
    align-items: stretch;
    background-color: var(--primary-background-color);
    z-index: 9999;
    line-height: 1.5;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0;
}

address a {
    display: inline-block;
    padding: 25px;
    justify-items: space-between;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none;
}

address a:hover {
    font-size: 24px;
    text-decoration: none;
}

.phone:before {
    content: "phone";
}

/*footer section - minimal, responsive */
footer {
    text-align: right;
}

/*adjustments for smaller screens - 980px or less*/
@media screen and (max-width: 980px) {

header {
    text-align: center;
    justify-content: center;
}

.hero div {
    float: none;
    align-items: center;
    padding: 25px;
}

.hero h2 {
    text-align: center;
}

.about-me {
    justify-content: center;
    display: flex;
}

.about-me h2 {
    text-align: center;
}

.about-me img {
    width: 50%;
    display: flex;
    float: none;
    justify-content: center;
    margin: 25px auto;
}

.about-name {
    display: flex;
    font-size: 36px;
    padding-top: 0;
    margin: 25px;
}

.about-text {
    color: var(--secondary-color);
    font-size: 28px;
    padding-top: 0;
}

.my-work h2 {
    text-align: center;
}

.work-container {
    grid-template-columns: repeat(2, 1fr);
}

.contact h2 {
    text-align: center;
}
}    
 
/*adjustment for smaller screens - 575px or less*/
@media screen and (max-width: 575px) {

header h1 {
    margin: 0;
}

.main-nav a {
    font-size: 35px;
}

.hero h2 {
    font-size: 36px;
}

.about-me {
    flex: 0, 75%;
}

.about-me h2 {
    text-align: center;
}

.about-me img {
    flex: 0 75%;
    justify-self: center;
}

.about-name {
    padding: 0;
    margin: 15px;
}

.about-text {
    font-size: 18px;
}

.hero h2 {
    text-align: center;
    vertical-align: bottom;
}

.about-name {
    display: block;
    text-align: center;
}
}

